.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
   display: -moz-box; /* Firefox */ 
   display: -ms-flexbox; /* IE10 */ 
   display: -webkit-box; /* Safari */ 
   display: -webkit-flex; /* Chrome, WebKit */ 
   display: box; 
   display: flexbox; 
   display: flex;
   margin:0;
   padding:0;
 }

main {
  flex: 1 0 auto;
}
header, main, footer {
      padding-left: 300px;
}
/*iframe样式*/
.iframe{
	width: 100%;
	height: 100%;
	border: none;
	min-width: 320px;
	position: absolute
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
 
 /**表格搜索框样式*/
.search-input {
	width: 150px;
	display: inline-block;
	height: 36px;
	vertical-align: middle;
	padding: 3px 6px;
}

.layui-btn:not(.layui-btn-lg ):not(.layui-btn-sm):not(.layui-btn-xs) {
	height: 34px;
	line-height: 34px;
}

.search-btn {
	padding: 0 8px;
}

.toolbar {
	color: #333333;
}

.toolbar .layui-form-select input {
	height: 35px;
	line-height: 35px;
	width: 150px;
	overflow: hidden;
}

.toolbar .layui-form-select {
	display: inline-block;
} 
  
/*表单弹窗样式*/
.modal-form {
	padding-top: 30px;
	padding-right: 45px;
}

.modal-form-footer {
	text-align: right;
}
}