<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jack.anime.dao.AnimeManagerMapper">
  <resultMap id="BaseResultMap" type="org.jack.anime.entity.AnimeManager">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="ROLE_ID" jdbcType="INTEGER" property="roleId" />
    <result column="CUSTOMER_ID" jdbcType="INTEGER" property="customerId" />
    <result column="STATUS" jdbcType="SMALLINT" property="status" />
    <result column="CREATE_TIMESTAMP" jdbcType="BIGINT" property="createTimestamp" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, ROLE_ID, CUSTOMER_ID, STATUS, CREATE_TIMESTAMP
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from anime_manager
    where ID = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="totalItem" resultType="java.lang.Integer">
  	select count(1) from anime_manager
  </select>
  
  <select id="getListpager" parameterType="java.util.Map" resultMap="BaseResultMap">
  	select 
    <include refid="Base_Column_List" />
    from anime_manager
    <where>
    	<choose>
    		<when test="params!=null and params.status!=null">
    			and STATUS = #{params.status,jdbcType=INTEGER}
    		</when>
    		<otherwise>  
            </otherwise>
    	</choose>
    </where>
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from anime_manager
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.jack.anime.entity.AnimeManager">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into anime_manager (ROLE_ID, CUSTOMER_ID, STATUS, 
      CREATE_TIMESTAMP)
    values (#{roleId,jdbcType=INTEGER}, #{customerId,jdbcType=INTEGER}, #{status,jdbcType=SMALLINT}, 
      #{createTimestamp,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="org.jack.anime.entity.AnimeManager">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into anime_manager
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        ROLE_ID,
      </if>
      <if test="customerId != null">
        CUSTOMER_ID,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="createTimestamp != null">
        CREATE_TIMESTAMP,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="customerId != null">
        #{customerId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="createTimestamp != null">
        #{createTimestamp,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.jack.anime.entity.AnimeManager">
    update anime_manager
    <set>
      <if test="roleId != null">
        ROLE_ID = #{roleId,jdbcType=INTEGER},
      </if>
      <if test="customerId != null">
        CUSTOMER_ID = #{customerId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=SMALLINT},
      </if>
      <if test="createTimestamp != null">
        CREATE_TIMESTAMP = #{createTimestamp,jdbcType=BIGINT},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.jack.anime.entity.AnimeManager">
    update anime_manager
    set ROLE_ID = #{roleId,jdbcType=INTEGER},
      CUSTOMER_ID = #{customerId,jdbcType=INTEGER},
      STATUS = #{status,jdbcType=SMALLINT},
      CREATE_TIMESTAMP = #{createTimestamp,jdbcType=BIGINT}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>