<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jack.anime.dao.AnimeShiroFilterMapper">
  <resultMap id="BaseResultMap" type="org.jack.anime.entity.AnimeShiroFilter">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="PERMS" jdbcType="VARCHAR" property="perms" />
    <result column="SORT_ORDER" jdbcType="INTEGER" property="sortOrder" />
    <result column="CREATE_TIMESTAMP" jdbcType="BIGINT" property="createTimestamp" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, NAME, PERMS, SORT_ORDER, CREATE_TIMESTAMP
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from anime_shiro_filter
    where ID = #{id,jdbcType=INTEGER}
  </select>
  
   <select id="totalItem" resultType="java.lang.Integer">
  	select count(1) from anime_shiro_filter
  </select>
  
  <select id="getListpager" parameterType="java.util.Map" resultMap="BaseResultMap">
  	select 
    <include refid="Base_Column_List" />
    from anime_shiro_filter
    <where>
    	<choose>
    		<when test="params!=null and params.status!=null">
    			and STATUS = #{params.status,jdbcType=INTEGER}
    		</when>
    		<otherwise>  
            </otherwise>
    	</choose>
    </where>
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from anime_shiro_filter
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.jack.anime.entity.AnimeShiroFilter">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into anime_shiro_filter (NAME, PERMS, SORT_ORDER, 
      CREATE_TIMESTAMP)
    values (#{name,jdbcType=VARCHAR}, #{perms,jdbcType=VARCHAR}, #{sortOrder,jdbcType=INTEGER}, 
      #{createTimestamp,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="org.jack.anime.entity.AnimeShiroFilter">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into anime_shiro_filter
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        NAME,
      </if>
      <if test="perms != null">
        PERMS,
      </if>
      <if test="sortOrder != null">
        SORT_ORDER,
      </if>
      <if test="createTimestamp != null">
        CREATE_TIMESTAMP,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="perms != null">
        #{perms,jdbcType=VARCHAR},
      </if>
      <if test="sortOrder != null">
        #{sortOrder,jdbcType=INTEGER},
      </if>
      <if test="createTimestamp != null">
        #{createTimestamp,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.jack.anime.entity.AnimeShiroFilter">
    update anime_shiro_filter
    <set>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="perms != null">
        PERMS = #{perms,jdbcType=VARCHAR},
      </if>
      <if test="sortOrder != null">
        SORT_ORDER = #{sortOrder,jdbcType=INTEGER},
      </if>
      <if test="createTimestamp != null">
        CREATE_TIMESTAMP = #{createTimestamp,jdbcType=BIGINT},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.jack.anime.entity.AnimeShiroFilter">
    update anime_shiro_filter
    set NAME = #{name,jdbcType=VARCHAR},
      PERMS = #{perms,jdbcType=VARCHAR},
      SORT_ORDER = #{sortOrder,jdbcType=INTEGER},
      CREATE_TIMESTAMP = #{createTimestamp,jdbcType=BIGINT}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>